AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
AIRFLOW_IMAGE_NAME=airflow-open-meteo:3.2.0-databricks
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
_PIP_ADDITIONAL_REQUIREMENTS=
AIRFLOW_API_AUTH_JWT_SECRET=replace_with_long_random_jwt_secret_min_64_chars
OPEN_METEO_DEV_CONN_ID=databricks_default
OPEN_METEO_DEV_JOB_ID=104751199505011
OPEN_METEO_DEV_SCHEDULE=0 1 * * *
OPEN_METEO_PROD_CONN_ID=databricks_default
OPEN_METEO_PROD_JOB_ID=47357426867496
OPEN_METEO_PROD_SCHEDULE=0 1 * * *
OPEN_METEO_DATABRICKS_POLLING_SECONDS=30
OPEN_METEO_DATABRICKS_RETRY_LIMIT=5
OPEN_METEO_DATABRICKS_RETRY_DELAY_SECONDS=30
OPEN_METEO_API_TIMEOUT_SECONDS=60
OPEN_METEO_API_MAX_RETRIES=3
OPEN_METEO_API_RETRY_WAIT_SECONDS=5
OPEN_METEO_FORECAST_DAYS=7
OPEN_METEO_BRONZE_OUTPUT_DIR=/opt/airflow/config/open_meteo_bronze
